{% extends "base.html" %}
{% load static %}

{% block 'head' %}
{% block 'css' %}
<link rel='stylesheet' href="{% static 'general/css/discipline-register.css' %}">
{% endblock %}
{% endblock %}

{% block 'dinamic-content' %}
<main>
  <section style="font-family: Arial, Helvetica, sans-serif;" id="display-login" class="container mt-md-5">
    {% include 'messages.html' %}
    <form action="{% url 'add-course' %}" id="course-form" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-6">
          <div>
            <h1 class="text-center">Adicionar Curso</h1>
          </div>
          <div>
            <div class="card mb-3 h-100">
              <img id="image-preview" src="{% static 'general/img/default_course.jpg' %}" class="card-img-top p-0 m-0" alt="..." style="height: 18rem;">
            </div>
            <div class="col-12">
              <div class="input-group mb-3">
                <input type="file" class="form-control" name="course-image" id="image-input" accept="image/*">
              </div>
            </div>
            <div class="form-floating mb-2">
              <input value="{{ course.name.url }}" type="text" class="form-control autocomplete"
                id="floating-input-email" name="course-name" autocomplete="off">
              <label for="floatingInput"><span style="color: #999999;">Nome do curso</span></label>
            </div>
          </div>
          <div>
            <button type="submit" class="btn mt-3 w-100" style="background-color: #00510F; color: white;"
              id="send">Cadastrar
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
{% endblock %}
{% block 'scripts' %}
<script>
  $(document).ready(function () {
    $("#image-input").change(function () {
      readURL(this);
    });
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#image-preview").attr("src", e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
{% endblock %}