{% extends "base.html" %}
{% load static %}
{% block 'head' %}
{% endblock %}
{% block 'dinamic-content' %}
<h1 class="text-center mt-3">Agendas da disciplina de {{discipline.name}} PROFESSOR</h1>
<div class="container" style="margin-top: 2vh;">
  <div id="calendar" data-student-id="{{ id }}" data-username="{{ first_name }}" data-discipline="{{ discipline.id }}"></div>
</div>

{% endblock %}
{% block 'scripts' %}


<script>

  $(document).ready(function () {
    
    
    var tableData;
    var discipline = $('#calendar').data('discipline')

    const monthNames = [
      'January', 'February', 'March', 'April', 'May', 'June',
      'July', 'August', 'September', 'October', 'November', 'December'
    ];
    $.ajax(
      {
        url: '/send-availability-to-students/' + discipline,
        method: 'GET',
        dataType: 'json',
        success: function (data) {
          tableData = data;
          var buttonSelector = '.show-modal';

          $('#calendar').evoCalendar({
            theme: 'Midnight Blue',
            language: 'pt',
            calendarEvents: []
          });

          for (var i = 0; i < tableData.length; i++) {
            const date = new Date(tableData[i].date);


            var event = {
              id: tableData[i].id,
              name: `${tableData[i].initial_time} - ${tableData[i].final_time}`,
              date: `${monthNames[date.getMonth()]}/${String(date.getDate() + 1).padStart(2, '0')}/${String(date.getFullYear())}`,
              badge: '',
              description: tableData[i].status == false ? " " : `Agendado por: ${tableData[i].student_id}`,//`Agendado por: \n ${$('#calendar').data('username')}`,
              type: tableData[i].status == false ? "holiday" : "event",
              everyYear: false,
              status: tableData[i].status
            };

            /*console.log(`${monthNames[date.getMonth()]}/${String(date.getDate() + 1).padStart(2, '0')}/${String(date.getFullYear())}`)*/
            $('#calendar').evoCalendar('addCalendarEvent', [event]);
          };

          /*function handleClick() {
            // Código a ser executado quando um botão for clicado
            console.log('Botão clicado!');
          }

          $(document).on('click', buttonSelector, handleClick());*/

        },
        error: function (error) {
          console.error('Erro na requisição:', error);
        }

      },
    )
  })
</script>
<script>

</script>
{% endblock %}