{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
{% endblock %}

{% block 'dinamic-content' %}
    
    <main>
        <div class="container" style="margin-top: 8vmax;">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'general/img/2021-09-14_18-33-47.jpg' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Agronomia</h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="overflow: hidden;">
                        <img src="{% static 'general/img/WhatsApp-Image-2021-03-22-at-17.22.42-1-770x453.jpeg' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Sistemas de Informação</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'general/img/30597b5a35d75fed80c8751b20d6ca3b.webp' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Multimídia</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'general/img/ciencias-biologicas-multivix.jpg' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Ciências Biológicas</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'general/img/3b4abf56b6b45850e0238facefa2c307eda5601e.jpg' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Pedagogia</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'general/img/como-fazer-um-mapeamento-de-processos-gerenciais-eficiente-entregar-em-280731472.jpg' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Processos Gerenciais</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'general/img/2021-09-14_18-33-47.jpg' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Agronomia</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'general/img/2021-09-14_18-33-47.jpg' %}" class="card-img-top m-0 p-0" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Agronomia</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </main>
</body>

{% endblock %}
