{% extends "base.html" %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'configuracoes' %}
{% endblock %}



{% block 'dinamic-content' %}
<section class="rounded-4 main-panel">
    <div class="row p-5">
      <div class="col-12">
        {% include 'messages.html' %}
        <div class="row justify-content-center">
          <div class="col-10 col-sm-8 col-md-7 col-lg-5 col-xl-4 col-xxl-3">
            <div class="text-center mb-4">
              <h1 class="display-1 fw-bold m-0"><strong>SAGA</strong></h1>
              <h5><strong style="font-size: 0.8em;">Sistema Acadêmico de Gerenciamento de Atendimentos</strong></h5>
            </div>
            <div>
              <h3 class="mb-3 text-center">Login</h3>
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="mb-3">
                      <div class="form-floating">
                        <input type="email" class="form-control autocomplete" id="floating-input-email" name="email"
                          placeholder="name@example.com" autocomplete="off">
                        <label for="floatingInput"><span style="color: #999999;">E-mail</span></label>
                      </div>
                    </div>
                    <div>
                      <div class="form-floating mb-4">
                        <input type="password" class="form-control autocomplete" id="floating-input-password" name="password"
                          placeholder="Password" autocomplete="off">
                        <label for="floatingPassword"><span style="color: #999999;">Senha</span></label>
                      </div>
                      
                      <div class="row justify-content-center">
                        <div class="col-9 mb-4">
                          <button type="submit" class="btn btn-md w-100"
                            style="background-color: #00510F; color: white;">Entrar</button>
                        </div>
                        <div class="col-10">
                          <div class="row align-items-center text-nowrap row-gap-2">
                            <div class=" text-center">
                              <a style="color: white; text-decoration: none;" href="{% url 'signup' %}">Não tenho uma conta</a>
                            </div>
                            <div class=" text-center">
                              <a style="color: white; text-decoration: none;" href="{% url 'reset_password' %}">Esqueci minha senha</a>
                            </div>
                          </div>
                        </div>
                      </div>             
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>   
        </div>    
      </div>     
    </div>
</section>
  {% endblock %}
  {% block 'scripts' %}
  <script>
    function toggleAutocomplete() {
      var email = document.getElementById("floating-input-email");
      var password = document.getElementById("floating-input-password")
      var autocompleteCheckbox = document.getElementById("checkbox-remember-me");


      if (autocompleteCheckbox.checked) {
        email.autocomplete = 'email'
        password.autocomplete = 'current-password'
      }

      else {
        email.autocomplete = 'off'
        password.autocomplete = 'off'
      }




    }
  </script>
  {% endblock %}