{% extends "base.html" %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'dinamic-content' %}
<section style="font-family: Arial, Helvetica, sans-serif;" class="mt-5 rounded-4 rounded-md-5 rounded-display-courses rounded-display container-fluid text-white">        
        {% include 'messages.html' %}
        <div class="py-3">
          <h1 class="display-6 fw-bold text-center mb-4">Painel de Cursos</h1>
          <table class="table table-responsive table-sm table-striped table-hover table-bordered table-light" id="course-table">
            <div class="d-grid gap-2 d-md-block text-end">
              <a href="{% url 'add-course' %}"><button class="btn btn-primary" type="button">Adicionar</button></a>
            </div>
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Curso</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr id="elemento-{{ course.id }}">
                <td>{{course.id}}</td>
                <td>{{course.name}}</td>
                <td>
                  <div class="row justify-content-center align-items-center gy-2 text-center">
                    <div class="col-sm-12 col-lg-6 text-end-md">
                        <a href="{% url 'course-update-get' course.id %}"><button type="button" class="btn bg-success" style="color: white; width: 80px;">Editar</button></a>
                    </div>
                    <div class="col-sm-12 col-lg-6 text-start-md">
                      <form action="{% url 'course-delete' course.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn bg-danger btn-delete" style="color: white; width: 80px;">Excluir</button>
                      </form>  
                    </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table> 
        </div>
      </div>    
  </section>

{% endblock %}
{% block 'scripts' %}
<script>
  $(document).ready(function() {
    $('#course-table').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 10,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });

    $('.btn-delete').on('click', function() {
    var elementoId = $(this).data('id');
    var url = '/disciplines/excluir/' + elementoId + '/';  // Substitua pela URL correta para a view de exclusão
    
    var trElemento = $(this).closest('tr');
    

    console.log(url)

    // Envie a solicitação de exclusão ao servidor
    $.ajax({
      url: url,
      type: 'POST',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'  // Certifique-se de ter o token CSRF corretamente definido
      },
      success: function(response) {
        // Atualize a tabela ou faça qualquer outra ação necessária após a exclusão
        // Por exemplo, você pode remover a linha da tabela correspondente ao elemento excluído

        trElemento.remove();
      }
    });
  });

  });
</script>
{% endblock %}
