{% extends "base.html" %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'configuracoes' %}
{% endblock %}



{% block 'dinamic-content' %}
<section style="font-family: Arial, Helvetica, sans-serif;" id="display-login" class="rounded-4 container">
    <div class="container-xl">
        <div class="row align-items-center">
          {% include 'messages.html' %}
          <div class="text-center col-xl-12 col-xl-12 mb-3">
              <h1 class="display-1 fw-bold";><strong>SAGA</strong></h1>
              <p>Sistema Acadêmico de Gerenciamento de Atendimentos</p>
          </div>
          <div class="col-xl-12 col-xl-6">
            <h3 class="mb-3 text-center">Esqueci minha senha</h3>
            
            <form action="{% url 'send_reset_password' %}" method="POST">
              {% csrf_token %}
              <div class="row justify-content-center">
                <div class="col-sm-5">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control autocomplete" id="floating-input-email" name="email" placeholder="name@example.com" autocomplete="off">
                    <label for="floatingInput"><span style="color: #999999;">E-mail</span></label>
                  </div>
                </div>
                <div class="row justify-content-center my-3">
                  <div class="col-sm-5">
                    <button type="submit" class="btn w-100" style="background-color: #00510F; color: white;">Redefinir</button>
                  </div>
                </div>
                  <div class="row justify-content-center my-3">
                    <div class="col-sm-2">
                      <a style="color: white; text-align: left; text-decoration: none;" href="{% url 'signup' %}" >Não tenho uma conta</a> 
                    </div>
                    <div class="col-sm-2">
                      <a style="color: white; text-align: right; text-decoration: none;" href="{% url 'login' %}" >Voltar a tela de login</a> 
                    </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
    </div>
{% endblock %}
{% block 'scripts' %}
<script>
  function toggleAutocomplete() {
    var email = document.getElementById("floating-input-email");
    var password = document.getElementById("floating-input-password")
    var autocompleteCheckbox = document.getElementById("checkbox-remember-me");


    if (autocompleteCheckbox.checked) {
      email.autocomplete = 'email'
      password.autocomplete = 'current-password'
    }

    else {
      email.autocomplete = 'off'
      password.autocomplete = 'off'
    }
    

    
    
  }
</script>
{% endblock %}