{% extends "base.html" %}
{% load static %}

{% block 'head' %}
{% block 'css' %}
<link rel='stylesheet' href="{% static 'general/css/discipline-register.css' %}">
<style>
  .card:hover {
    cursor: pointer;
  }
</style>
{% endblock %}
{% endblock %}

{% block 'dinamic-content' %}
<main>
  <section style="font-family: Arial, Helvetica, sans-serif;" id="display-login" class="container mt-md-5">
    <div class="container">
      <h1 class="text-center">Cursos</h1>
      <div class="container" style="margin-top: 2vmax;">
        <!--<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
          {% for course in courses %}
          <form action="{% url 'student-disciplines' course.id %}" method="post">
            <div class="col">
              {% csrf_token %}
              <button type="submit" style="border: none">
                <div class="card">
                  {% if course.course_image %}
                    <img src="{{ course.course_image.url }}" class="card-img-top m-0 p-0" alt="">
                  {% else %}
                    <img src="{% static 'general/img/default_course.jpg' %}" class="card-img-top m-0 p-0" alt="">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                  </div>
                </div>
              </div>
            </button>
          </form>
          {% endfor %}
        
        </div>-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for course in courses %}
          <div class="col">
            <div class="card h-100">
              {% if course.course_image %}
              <img src="{{ course.course_image.url }}" class="card-img-top img-fluid p-0 m-0" alt="...">
              {% else %}
              <img src="{% static 'general/img/default_course.jpg' %}" class="card-img-top img-fluid p-0 m-0" alt="">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title text-center">{{ course.name }}</h5>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>

    <!--Pagination-->
    <!--<div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if courses.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ movies.previous_page_number }}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ courses.number }} of {{ courses.paginator.num_pages }}
            </span>

          {% if courses.has_next %}
              <a href="?page={{ movies.next_page_number }}">next</a>
              <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
        </div>
    </div>-->

    <nav class="container p-4">
      <ul class="pagination justify-content-center">
        {% if courses.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ courses.previous_page_number }}">Previous</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="?page={{courses.number}}">{{courses.number}}</a></li>

        {% if courses.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ courses.next_page_number }}">Next</a></li>
        {% endif %}

      </ul>
    </nav>
    <!--end of Pagination-->
</main>
{% endblock %}
{% block 'scripts' %}
<script>
  $(document).ready(function () {
    $('#course-table').DataTable({
      responsive: true,
      // "bSort": false,
      "aaSorting": [],
      "pageLength": 10,
      "language": {
        "decimal": "",
        "emptyTable": "Sem dados disponíveis",
        "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
        "infoFiltered": "(filtrado de _MAX_ registros no total)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ registros",
        "loadingRecords": "A carregar dados...",
        "processing": "A processar...",
        "search": "Procurar:",
        "zeroRecords": "Não foram encontrados resultados",
        "paginate": {
          "first": "Primeiro",
          "last": "Último",
          "next": "Seguinte",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": ordem crescente",
          "sortDescending": ": ordem decrescente"
        }
      }
    });
  });
</script>
{% endblock %}