{% extends "base.html" %}
{% load static %}

{% block 'head' %}
{% block 'css' %}
<link rel='stylesheet' href="{% static 'general/css/discipline-register.css' %}">
{% endblock %}
{% endblock %}

{% block 'dinamic-content' %}

  <section style="font-family: Arial, Helvetica, sans-serif;" class="mt-5 rounded-4 rounded-md-5 rounded-display-courses rounded-display container-fluid">   
    <div class="row py-3">
      <div class="col-12">
        <h1 class="display-6 fw-bold text-center mb-4">Cursos</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for course in courses %}
          <form action="{% url 'student-disciplines' course.id %}" method="post">
            {% csrf_token %}
            <div class="col">
              <div class="card h-100">
                <button style="border: none;">
                  {% if course.course_image %}
                  <img src="{{ course.course_image.url }}" class="card-img-top img-fluid p-0 m-0" alt="...">
                  {% else %}
                  <img src="{% static 'general/img/default_course.jpg' %}" class="card-img-top img-fluid p-0 m-0"
                    alt="">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ course.name }}</h5>
                  </div>
              </div>
              </button>
            </div>
          </form>
          {% endfor %}
    </div>
        <nav class="container p-4">
          <ul class="pagination justify-content-center">
            {% if courses.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ courses.previous_page_number }}">Anterior</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link">Anterior</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="?page={{courses.number}}">{{courses.number}}</a></li>
            
            {% if courses.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ courses.next_page_number }}">Próxima</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link">Próxima</a></li>
            {% endif %}

          </ul>
        </nav>
      </div>
    </div>
  </section>

{% endblock %}
{% block 'scripts' %}
<script>
  $(document).ready(function () {
    $('#course-table').DataTable({
      responsive: true,
      // "bSort": false,
      "aaSorting": [],
      "pageLength": 10,
      "language": {
        "decimal": "",
        "emptyTable": "Sem dados disponíveis",
        "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
        "infoFiltered": "(filtrado de _MAX_ registros no total)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ registros",
        "loadingRecords": "A carregar dados...",
        "processing": "A processar...",
        "search": "Procurar:",
        "zeroRecords": "Não foram encontrados resultados",
        "paginate": {
          "first": "Primeiro",
          "last": "Último",
          "next": "Seguinte",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": ordem crescente",
          "sortDescending": ": ordem decrescente"
        }
      }
    });
  });
</script>
{% endblock %}